<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <!-- this for icons taken -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/src/components/style/login.css">
    <!-- this is for fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <nav class="nav">   
            <div class="nav-logo">
                <p>LOGO .</p>
            </div>
            
            <!-- nav bar ui -->
            <div class="nav-menu">
                <ul>          
                    <li><a href="#" class="link active">Home</a></li>
                    <li><a href="#" class="link">Home</a></li>
                    <li><a href="#" class="link">Home</a></li>
                    <li><a href="#" class="link">About</a></li>
                </ul>  
            </div>
            
            <div class="nav-button">
                <button class="btn white-btn" id="loginBtn" onclick="login()">Sign In</button>
                
                <button class="btn" id="registerBtn" onclick="register()">Sign Up</button>
            </div>
            
            <div class="nav-menu-btn">
                <i class='bx bx-menu' onclick="myMenuFunction()"></i>
            </div>
        </nav>

        <!-- now our form part or details where i want to enter data -->

        <div class="form-box">

            <!-- login form -->
            <div class="login-container" id="login">
                <div class="top">
                    <span>Don't have an account? <a href="#" onclick="register()">Sign Up</a></span>
                    <header>Login</header>  
                </div>

                <!-- this is first and last name div -->
                <div class="input-box">
                    <input type="text" class="input-field" placeholder="Username or Email">
                    <i class="bx bx-user"></i>
                </div>

                <div class="input-box">
                    <input type="password" class="input-field" placeholder="Password">    
                    <i class="bx bx-lock-alt"></i>
                </div>

                <div class="input-box">
                    <input type="submit" class="submit" value="Sign In">
                </div>

                <div class="two-col">
                    <div class="one">
                        <input type="checkbox" id="login">
                         <label for="login-check">Remember me</label>
                    </div>

                    <div class="two">
                        <label><a href="#">Forget Password?</a></label>
                    </div>
                </div>
            </div>

            <!-- registaion -->
            <div class="register-container" id="register">
                <div class="top">
                    <span>Have an account? <a href="#" onclick="login()">Login</a></span>
                    <header>Sign Up</header>  
                </div>

                <!-- this is first and last name div -->
                <div class="two-forms">
                    <div class="input-box">
                        <input type="text" class="input-field" placeholder="First name">

                        <i class="bx bx-user"></i>
                    </div>

                    <div class="input-box">
                        <input type="text" class="input-field" placeholder="Last name">

                        <i class="bx bx-user"></i>
                    </div>
                </div>

                <div class="input-box">
                    <input type="text" class="input-field" placeholder="Email">
                    <i class="bx bx-envelope"></i>
                </div>

                <div class="input-box">
                    <input type="password" class="input-field" placeholder="Password">    
                    <i class="bx bx-lock-alt"></i>
                </div>

                <div class="input-box">
                    <input type="submit" class="submit" value="Register">
                </div>

                <div class="two-col">
                    <div class="one">
                        <input type="checkbox" id="register-check">
                        <label for="register-check">Remember me</label>
                    </div>

                    <div class="two">
                        <label><a href="#">Terms & Conditions</a></label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="login.js"></script>
</body>
</html>